{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFstudies - Serviços</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body id="homebg">
    <header id="navbar">
        <nav>
            <img src="{% static 'imagens/UF.png' %}" alt="Logo do site" id="logo">
            <ul class="lista">
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'sobre' %}">SOBRE</a></li>
                <li><a href="{% url 'servicos' %}">SERVIÇOS</a></li>
                <li><a href="{% url 'explorar' %}">EXPLORAR</a></li>
                <li><a href="{% url 'contato' %}">CONTATO</a></li>
            </ul>
                <a href="{% url 'notfound' %}"id="entrar"> ENTRAR </a>
        </nav>   
        
    <main>
        <div class="centro">
            <h1 id="serv">Serviços</h1>
        </div>
        <div>
           <div id="upload"> 
               <a href="{% url 'upload' %}"><img src="{% static 'imagens/upload.png' %}" alt="upload" class="tamanho" ></a>
            </div>
        <div id="assistir">
            <a href="{% url 'assist' %}"><img src="{% static 'imagens/assistir.png' %}" alt="assistir" class="tamanho1" ></a>
        </div>
        </div>
        <div>
            <div id="textup">
                <p>{{ servico.descricaoupload }}</p>
            </div>
            <div id="textas">
                <p>{{ servico.descricaovideo }}</p>
            </div>
        </div>
        <section id="maindepo">
            <h1 class="centro">Depoimentos</h1>
            {% for depoi in depoimentos %}
            <div class="depoimentosblocos">
                <div id="depoimentocor1">
                    <div>
                        <img src="{{ depoi.imagem_depoimento.url }}" alt="foto de perfil" class="perfil">
                        <p class="nomefoto">{{ depoi.nome_depoimento }}</p>
                    </div>
                    <p>{{ depoi.depoimento }}</p>
                </div>
            </div>
            {% endfor %}
        </section>
        <footer>
            <p class="txtmaior">UFstudies </p>&nbsp 
            <p>| Desenvolvido pela EJECT</p>
        </footer>
    </main>
    </header>