{% load static%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFstudies - SOBRE</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body id="sobre">
    <header id="navbar">
        <nav>
            <img src="{% static 'imagens/UF.png' %}" alt="Logo do site" id="logo">
            <ul class="lista">
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'sobre' %}">SOBRE</a></li>
                <li><a href="{% url 'servicos' %}">SERVIÇOS</a></li>
                <li><a href="{% url 'explorar' %}">EXPLORAR</a></li>
                <li><a href="{% url 'contato' %}">CONTATO</a></li>
            </ul>
                <a href="{% url 'notfound' %}"id="entrar"> ENTRAR </a>
        </nav>    
    </header>
    <main>
        <h1 id="title">SOBRE</h1>
        <div id=divsobre>
            <img src="{% static 'imagens/boneca_sobre.png' %}" alt="boneca para o sobre" id="boneca">    
            <p>{{ sobre.descricao }}</p>
        </div>    
    </main>
    <footer  >
        <p class="txtmaior">UFstudies </p>&nbsp 
        <p>| Desenvolvido pela EJECT</p>
    </footer>
    
</body>
</html>